<link rel="preload" href="/fonts/Roboto-Slab-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Roboto-Slab-Light.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/OpenSans-Semibold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/OpenSans-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/OpenSans-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/OpenSans-BoldItalic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
