// Define CSS variables
:root {
  --condensed-font-family: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --rounded-font-family: 'Nunito Sans', 'Nunito', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --text-color: #515151;
  --background-color: #fffdf5;
  --black: #000000;
  --white: #ffffff;
  --link-color: #174027;
  --menu-link-color: var(--black);
  --menu-link-color-hover: var(--gray-800);
  --footer-link-color: var(--white);
  --footer-link-color-hover: var(--primary-400);
  --gutter: 25px;
  --container-width: 1200px;
  --content-width: 895px;

  --primary-400: #275901;
  --primary-500: #60470e;
  --primary-600: #174027;
  --primary-700: #15372f;
  --primary-800: #0a313c;

  --gray-200: #eaecf0;
  --gray-300: #e5e5e5;
  --gray-400: #e4e4e4;
  --gray-600: #b1b1b1;
  --gray-700: #767676;
  --gray-800: #5f6367;

  // Pagefind styles from https://pagefind.app/docs/ui-usage/#customising-the-styles
  --pagefind-ui-text: var(--text-color) !important;
  --pagefind-ui-font: var(--rounded-font-family) !important;
}

// Define SCSS variables.
$desktop-width: calc(1200px + 25px + 25px);
$min-desktop: 1000px;
$mobile-max: 999px;
