{{ define "main" }}
  <div class="columns hero-grid">
    <div class="hero-grid__col1">
        <img
          style="padding-top: 80px;"
          src="{{ "img/LFprojects_color_logo.svg" | relURL }}"
          alt="lf projects logo"
          loading="eager"
          decoding="async"
        />
      <h1 class="title" style="margin-top: 50px;">
        {{ i18n "hero1" }}<br /><span class="darker">{{ i18n "hero2" }}</span>
      </h1>
      <p class="shortened-width">{{ i18n "explainerText" | markdownify }}</p>
      <a href="{{ relLangURL "/about/about-us" }}" class="button">{{ i18n "explainerButton" }}</a>
    </div>
  </div>

  <h3 class="h4">{{ i18n "sectionTitle" | markdownify }}</h3>

  <div class="cards columns-2 box-grid">
    <div class="card">
      <h2>{{ i18n "sectionTitle1" }}</h2>
      <p>{{ i18n "sectionText1" | markdownify }}</p>
      <a href="{{ relLangURL "/community/get-started/" }}" class="button">{{ i18n "sectionButton1" }}</a>
    </div>

    <div class="card">
      <h2>{{ i18n "sectionTitle3" }}</h2>
      <p>{{ i18n "sectionText3" | markdownify }}</p>
      <a href="{{ relLangURL "/about/members/" }}" class="button">{{ i18n "sectionButton3" }}</a>
    </div>
  </div>
{{ end }}
